// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .nav .cart_link {
  float: right;
}

#cart_pop_over_form {
  width: 200px;
  margin-bottom: 5px;
}