// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .nav .cart_link {
  float: right;
}
.popover {
  max-width: 400px;
}
#cartPopOverForm {
  width: 330px;
  margin-bottom: 5px;
}
.cartPopOverList {
  margin: 0;
  list-style: none;
}
.cartPopOverList li {
  overflow: hidden;
}
.evenItem {
  background: #ebebeb;
}
.item {
  float: left;
  width: 50%;
  padding: 1px 0;
}
.removeItem {
  float: right;
}
.right {
  float: right;
}
.left {
  float: left;
}

#cartForm {
  background: #fff;
  padding: 30px;
}

.numPicker {
  display: inline-block;
  border: 1px solid #ebebeb;
  padding: 0px 5px;
}
.numControls {
  
}
.numControls .up, .numControls .dn {
  cursor: pointer;
}